@model IEnumerable<TakeItToTheCloud.Models.Dto.UploadedFileDetails>

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl" id="uploadedFileList">

        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-12">
                <h1 class="app-page-title mb-0">Retrieve Past Uploads</h1>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary"><a asp-action="index" asp-controller="dashboard" asp-route-all="true" style="color: #fff" >RETRIEVE ALL FILES</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>File Description</th>
                            <th>File Location</th>
                            <th>File Upload Time</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="grid-table-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@(item.LastName)</td>
                                <td>@item.Description</td>
                                <td><a href="@item.Location">@item.Location</a></td>
                                <td>@item.UploadedTime</td>
                                <td><button type="button" class="btn btn-primary" onclick="deleteFile(@item.Id)" style="color: #fff">DELETE</button></td>
                                <td><button type="button" class="btn btn-primary" onclick="getUploadPage(@item.Id)" style="color: #fff">UPDATE</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-xl" id="addUploadedFileDiv"></div>
</div>